[Unit]
Description=Start SAP
After=uuidd.socket
Requisite=uuidd.socket

[Service]
Type=forking
RemainAfterExit=yes
User=npladm
Group=sapsys
WorkingDirectory=~
ExecStart=/bin/bash -l -c "startsap ALL"
ExecStop=/bin/bash -l -c "stopsap ALL"

[Install]
WantedBy=multi-user.target
